@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Nunito:wght@200&family=Rubik&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* font-family: "Comfortaa", cursive; */
  /* font-family: "Rubik", sans-serif; */
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
